
.tooltip {
    background-color: #ffffffdb;
    border-radius: 15px;
    font-size: 12pt;
    padding: 1vh 1vw;
} 

#toolTipDiv-title {
    font-weight: bold;
}

#toolTipDiv-line {
    border: none;
    margin: 1px 0;
    height: 2px;
}





/* Stile chart */

#line-chart {
  background-color: rgb(245, 245, 245);
  padding: 0 0;
  border-radius: 15px;
}

.line {
  fill: none;
  stroke: #00bfa6;
  stroke-width: 3;
}

#x-axis .domain, #y-axis .domain  {
  stroke: #c56474;
  stroke-width: 3;
  opacity: 1;
}

#y-grid {
  color: #00000012;
}

.axis-label {
  font-size: 9pt;
  font-weight: bold;
  fill: #9b3f3f;
}

.x-axis-label {
  text-align: right;
}

.y-axis-label {
  text-align: left;
  margin-left: 10px;
}