html, body, .App {
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
  background-color: rgb(220, 233, 236); /*rgb(211, 231, 226);*/
  position: absolute;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


button {
    cursor: pointer;
}

button:disabled {
  background-color: gray;
}


input[type='radio'], input[type='checkbox'] {
    accent-color: rgb(29, 83, 163);
}



#main {
  height: 98%;
  width: 90%;
  position: absolute;
  bottom: 0;
  left: 5%;
  background-color: white;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}


.analysis-type-row {
  display: flex;
  flex-direction: row;
  background-color: #dfa4af;  /*#da95a2;*/
  /*height: 5vh;*/
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  align-items: end;
  justify-content: center;
}

.analysis-type-row button {
  border: 1px solid white;
  color: white;
  border-bottom: none;
  background: none;
  /*background-color: #dfa4af;*/
  /*height: 100%;*/
  position: relative;
  bottom: 0;
  padding: 0.5vh 0;
  width: 8vw;
  min-width: fit-content;
  font-size: 12pt;
  padding: 0.5vh 1vw;
  margin: 0 0.3vw;
  margin-top: 1vh;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.analysis-type-row button.active-true {
  background-color: #c56474; /*#cb7381;*/
  font-weight: bold;
}

.row-under-buttons {
  background-color: #c56474;
  border: none;
  /*border-top: 1px solid white;*/
  height: 3px;
  margin: 0;
}

.legend {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 10vh;
  overflow: auto;
  margin: 2vh 0.5vw;
}


#count-punti-selection {
  display: flex;
  flex-direction: column;
  text-align: left;
}