html, body, .App {
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
  background-color: rgb(211, 231, 226);
  position: absolute;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



#main {
  height: 95%;
  width: 90%;
  position: absolute;
  bottom: 0;
  left: 5%;
  background-color: white;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}



/* Stile chart */

#line-chart {
  background-color: rgb(255, 246, 193);
  padding: 0 0;
}

.line {
  fill: none;
  stroke: #00bfa6;
  stroke-width: 3;
}

#x-axis .domain, #y-axis .domain  {
  stroke: #E04836;
  stroke-width: 3;
  opacity: 0.6;
}