html, body, .App {
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
  background-color: rgb(220, 233, 236); /*rgb(211, 231, 226);*/
  position: absolute;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



button {
    cursor: pointer;
}

button:disabled {
    cursor: initial;
}


input[type='radio'], input[type='checkbox'] {
    accent-color: rgb(29, 83, 163);
    margin-right: 5px;
}



#main {
  height: 98%;
  width: 94%;
  position: absolute;
  bottom: 0;
  left: 3%;
  background-color: white;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}


.page-container {
  width: 95%;
  margin: 0 auto;
  /*text-align: left;*/
}


/* Spinner caricamento */


.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 14pt;
  font-weight: lighter;
  color: rgb(160, 160, 160);
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid rgb(29, 83, 163);
  border-radius: 50%;
  width: 4vw;
  height: 4vw;
  animation: spin 2s linear infinite;
  margin-bottom: 1vh;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* Riga selezione analisi singola/multipla */


.analysis-type-row {
  display: flex;
  flex-direction: row;
  background-color: #dfa4af;  /*#da95a2;*/
  /*height: 5vh;*/
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  align-items: end;
  justify-content: center;
}

.analysis-type-row button {
  border: 1px solid white;
  color: white;
  border-bottom: none;
  background: none;
  /*background-color: #dfa4af;*/
  /*height: 100%;*/
  position: relative;
  bottom: 0;
  padding: 0.5vh 0;
  width: 8vw;
  min-width: fit-content;
  font-size: 11pt;
  padding: 0.4vh 0.7vw;
  margin: 0 0.3vw;
  margin-top: 0.6vh;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.analysis-type-row button.active-true {
  background-color: #c56474; /*#cb7381;*/
  font-weight: bold;
}

.row-under-buttons {
  background-color: #c56474;
  opacity: 1;
  border: none;
  height: 3px;
  margin: 0;
}

.central-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2vh;
}


/* Titolo analisi singola */

.analysis-title {
  font-size: 11pt;
  text-align: left;
}


/* LEGENDA */

.legend-container {
  height: 60vh;
  width: 13vw;

  border-radius: 15px;
  border: 1px solid rgb(170, 170, 170);
}

.legend-title {
  text-align: left;
  width: 100%;
  font-size: 11pt;
  font-weight: bold;
  height: 4vh;
  margin: 0.4vh 0.5vw;
}

.legend {
  width: 98%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  /*flex-wrap: wrap;*/
  overflow: auto;
  margin-left: 0.2vw;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.chart-legend {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.3vh 0.2vw;
    border-bottom: 1px solid #e7e7e7;
    text-align: left;
}

.chart-legend-color {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.chart-legend-text {
    width: 90%;
    margin-left: 6px;
    margin-bottom: 2px;
    font-size: 10pt;
}



/* CAMPI SOTTO PER CAMBIARE VISUALIZZAZIONE */

.visualization-container, .menu-row-container {
    padding: 0.2vh 0.5vw;
    border-radius: 15px;
    border: 1px solid rgb(170, 170, 170);
    text-align: left;
    margin: 1vh 0;
    height: fit-content;
}

.section-title {
  font-size: 10pt;
  font-weight: bold;
  margin-top: 0.5vh;
  margin-bottom: 0.8vh;
  margin-left: 15px;
}

.visualization-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 1vw;
    margin-bottom: 1vh;
}

.visualization-controls-separator {
    height: 7vh;
    width: 1px;
    background-color: #cccccc;
    margin: 0 1vw;
}

.visualization-selection-conta-punti {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-right: 0.8vw;
}

.visualization-selection-grafico-tabella {
  display: flex;
  flex-direction: row;
}

.visualization-selection-button {
  /*display: flex;
  flex-direction: column;*/
  background: none;
  border: none;
  font-size: 18pt;   /* determina la dimensione dell'icona */
  margin: 0 0.1vw;
  color: #9b3f3f;
  font-weight: bold;
}

.visualization-selection-button:enabled {
  /*display: flex;
  flex-direction: column;*/
  background: none;
  border: none;
  font-size: 18pt;   /* determina la dimensione dell'icona */
  margin: 0 0.1vw;
  color: #848484;
  font-weight: normal;
}

.visualization-selection-button-text {
  font-size: 9pt;
}



/* TABELLA */


.table-data-container {
  width: 100%;
  height: 60vh;
  overflow: auto;
  /*margin-bottom: 0.55vh;*/
  background-color: rgb(245, 245, 245);
  border-radius: 15px;
}

table.table-data {
  border-collapse: collapse;
  table-layout: fixed;
  /*border: 1px solid #979797;*/
  font-size: 10pt;
  width: 99%;
  max-width: fit-content;
  margin: 0.7vh 0.5%;

}

table .table-data-title {
  color: #9b3f3f;
  width: 13vw;    /* questo determina la larghezza di tutta la prima colonna */
}

table .table-data-row {
  /*border-bottom: 1px solid black;*/
  /*height: 3vh;*/
}

table .table-data-entry {
  border: 1px solid #979797;
  padding: 1vh 0vw;
  width: 3.5vw;
  min-width: fit-content;
}

table .table-data-first-column {
  font-weight: bold;
}